@import url(./reset.css);

.title {
  font-size: 32px;
}

.todos {
  width: 50%;
  height: 50%;
  background-color: yellow;
}

.hidden {
  display: none;
}

.todo-item {
  display: flex;
  width: 250px;
}

.content,
.content-edit {
  flex-grow: 1;
}
